*{
    padding: 0px;
    background-color: grey;
}
div{

    border: 5px solid red;
    background-color: white;
    width: 600px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 25%;
    margin-top: 15%;
    border-radius: 8px;
}
p, h1{

    background-color: white;
    text-decoration-line: underline;
}