body{
    width: 1000px;
}
.h{
   height: 50px;
   background-color: rgba(116, 223, 15, 0.363);
}

nav{
    height:40px;
    background-color: rgba(14, 196, 54, 0.788);
}

#sidebar{
    float: left;
    width: 25%;
    height: 400px;
    background-color: rgba(35, 9, 128, 0.719);
}
#content{
    float: left;
    width: 50%;
    height: 400px;
    background-color: rgba(88, 48, 163, 0.39);
}
aside{
    float: right;
    width: 25%;
    height: 400px;
    background-color: rgba(35, 9, 128, 0.719);
}
footer{
    clear: both;
    height: 50px;
    background-color: rgba(189, 180, 180, 0.747);
}